<!-- The Modal -->
<div class="modal" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title translate">DELETE_OBJECT</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body translate">CONFIRM_DELETION</div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" onclick="ajaxDeleteAndRedirect('{{url}}','{% url "budgets:dashboard" budget.id %}');" class="btn btn-danger translate" data-dismiss="modal">YES</button>
        <button type="button" class="btn btn-secondary translate" data-dismiss="modal">NO</button>
      </div>

    </div>
  </div>
</div>