{% load l10n %}
<div class="row">
    <div class="col-lg-3">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="numAccounts" class="translate">LOADING</h3>
                <p class="translate">ACCOUNTS_NUMBER</p>
            </div>
            <div class="icon">
                <i class="fas fa-piggy-bank text-white"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3 id="totalBudget" class="translate">LOADING</h3>
                <p class="translate">TOTAL_BUDGET</p>
            </div>
            <div class="icon">
                <i class="fas fa-sack-dollar text-white"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div id="statRemaining" class="small-box bg-success">
            <div class="inner">
                <h3 id="remainingBudget" class="translate">LOADING</h3>
                <p class="translate">REMAINING_BUDGET</p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign text-white"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="expenses" class="translate">LOADING</h3>
                <p class="translate">EXPENSES</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-invoice-dollar text-white"></i>
            </div>
        </div>
    </div>
</div>

