{% extends 'common/blank.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-4"></div>
<div class="col-4">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg translate">LOGIN</p>
{% if form.errors %}
      <div class="alert alert-danger translate">LOGIN_FAILED</div>
{% endif %}
      <form action="{% url 'login' %}" method="post">
        <input type="hidden" name="next" value="{{next}}" />
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block translate">LOGIN</button>
          </div>
        </div>
      </form>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
</div>

<!-- /.login-box -->
{% endblock %}