{% extends 'common/blank.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
    {%for b in my_budgets %}
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    <a href="{% url "budgets:dashboard" b.id %}"><h1>{{b}}</h1></a>
                </div><!-- /.card-header -->
                <div class="card-body">
                    {{b.note|default_if_none:""}}
                </div><!-- /.card-body -->
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
        {% endif %}
    {% endfor %}
</div>
{% endblock %}